# ============================================================================ #
# Copyright (c) 2022 - 2026 NVIDIA Corporation & Affiliates.                   #
# All rights reserved.                                                         #
#                                                                              #
# This source code and the accompanying materials are made available under     #
# the terms of the Apache License 2.0 which accompanies this distribution.     #
# ============================================================================ #

# Validate that cudaq-target-conf --list-bool-args correctly identifies Bool arguments
# and excludes non-Bool arguments (string, integer, etc.)

# RUN: cudaq-target-conf --list-bool-args %cudaq_src_dir/targettests/TargetConfig/Inputs/test-bool-args.yml | FileCheck %s

# Bool arguments should be listed
# CHECK-DAG: enable-opt
# CHECK-DAG: debug
# CHECK-DAG: verbose

# Non-Bool arguments should NOT be listed
# CHECK-NOT: machine
# CHECK-NOT: shots
