[submodule "tpls/fmt"]
	path = tpls/fmt
	url = https://github.com/fmtlib/fmt
[submodule "tpls/googletest-src"]
	path = tpls/googletest-src
	url = https://github.com/google/googletest
[submodule "tpls/llvm"]
	path = tpls/llvm
	url = https://github.com/llvm/llvm-project.git
	shallow = true
[submodule "tpls/eigen"]
	path = tpls/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "tpls/armadillo"]
	path = tpls/armadillo
	url = https://gitlab.com/conradsnicta/armadillo-code.git
[submodule "tpls/ensmallen"]
	path = tpls/ensmallen
	url = https://github.com/mlpack/ensmallen
[submodule "tpls/spdlog"]
	path = tpls/spdlog
	url = https://github.com/gabime/spdlog
