# This branch should only be updated by the repo bot.
# To avoid giving the bot admin rights, the branch protection is configured to require PRs + approval from code owners, 
# and to allow the bot to bypass these requirements; only admins, the bot, and code owners can push changes to this branch.
* @cuda-quantum-bot
