# ============================================================================ #
# Copyright (c) 2022 - 2026 NVIDIA Corporation & Affiliates.                   #
# All rights reserved.                                                         #
#                                                                              #
# This source code and the accompanying materials are made available under     #
# the terms of the Apache License 2.0 which accompanies this distribution.     #
# ============================================================================ #

# Development dependencies for building and testing CUDA-Q
build
delocate; sys_platform == "darwin"
auditwheel; sys_platform == "linux"
lit==18.1.4
pytest==8.3.0
psutil
numpy==1.26.4
llvmlite==0.44.0
scipy==1.16.3
requests==2.31.0
fastapi==0.111.0
uvicorn==0.29.0
pydantic==2.12.5
openfermionpyscf==0.5
h5py==3.12.1
matplotlib
pyspelling==2.10
pymdown-extensions==10.8.1
yapf

