# ============================================================================ #
# Copyright (c) 2022 - 2025 NVIDIA Corporation & Affiliates.                   #
# All rights reserved.                                                         #
#                                                                              #
# This source code and the accompanying materials are made available under     #
# the terms of the Apache License 2.0 which accompanies this distribution.     #
# ============================================================================ #

#  RUN: cudaq-target-conf -o %t %cudaq_target_dir/remote-mqpu.yml && cat %t | FileCheck %s

msg=""

# Tell NVQ++ to generate glue code to set the target backend name
# CHECK-DAG: GEN_TARGET_BACKEND=true

# Use the MultiQPUPlatform
# CHECK-DAG: PLATFORM_LIBRARY=mqpu

# Use the RemoteSimulatorQPU, so make sure it auto-loads
# CHECK-DAG: LINKLIBS="${LINKLIBS} -lcudaq-remote-simulator-qpu"

# QPU subtype
# CHECK-DAG: PLATFORM_QPU=RemoteSimulatorQPU

# CHECK-DAG: PREPROCESSOR_DEFINES="${PREPROCESSOR_DEFINES} -D CUDAQ_REMOTE_SIM"

# CHECK-DAG: LIBRARY_MODE=false

PLATFORM_EXTRA_ARGS=""
# NB: extra arguments always take the form:
#   --<target>-<option> <value>
# as in
#   --remote-mqpu-backend foo
while [ $# -gt 1 ]; do
	case "$1" in
	--remote-mqpu-url)
		PLATFORM_EXTRA_ARGS="$PLATFORM_EXTRA_ARGS;url;$2"
		;;
	--remote-mqpu-backend)
		PLATFORM_EXTRA_ARGS="$PLATFORM_EXTRA_ARGS;backend;$2"
		;;
	# Auto launch (and shutdown) server processes (providing the number of instances)
	--remote-mqpu-auto-launch)
		PLATFORM_EXTRA_ARGS="$PLATFORM_EXTRA_ARGS;auto_launch;$2"
		;;
	esac
	shift 2
done
