# ============================================================================ #
# Copyright (c) 2022 - 2023 NVIDIA Corporation & Affiliates.                   #
# All rights reserved.                                                         #
#                                                                              #
# This source code and the accompanying materials are made available under     #
# the terms of the Apache License 2.0 which accompanies this distribution.     #
# ============================================================================ #

msg=""
gpu_found=$(query_gpu)
if ${gpu_found} && [ -f "${install_dir}/lib/libnvqir-tensornet-mps.so" ]; then
	NVQIR_SIMULATION_BACKEND="tensornet-mps"
else
	msg="libnvqir-tensornet-mps is not installed, or there are no NVIDIA GPUs."
fi

if [ "${NVQIR_SIMULATION_BACKEND}" = "qpp" ]; then 
    msg=$(printf "%s\n" "" \ 
    "Could not find a valid CUDA or libnvqir-tensornet-mps installation. Make sure you have a compatible GPU and the necessary driver installed." \
    "$msg")
    error_exit "$msg"
fi

# Use the MultiQPUPlatform
PLATFORM_LIBRARY=mqpu

GPU_REQUIREMENTS="true" # This could be a string listing compatibility in the future

TARGET_DESCRIPTION="The NVIDIA MQPU Target provides a simulated QPU for every available CUDA GPU on the underlying system. Each QPU is simulated via cuTensorNet MPS. This target enables asynchronous parallel execution of quantum kernel tasks."