# ============================================================================ #

# Tell DefaultQuantumPlatform what QPU subtype to use
PLATFORM_QPU=orca

# Tell NVQ++ to generate glue code to set the target backend name
GEN_TARGET_BACKEND=true

# Add the rest-qpu library to the link list
LINKLIBS="${LINKLIBS} -lcudaq-orca-qpu"

# Library mode is only for simulators, 
# and it is the default, physical backends must 
# turn this off
LIBRARY_MODE=false

PLATFORM_EXTRA_ARGS=""
# NB: extra arguments always take the form:
#   --<target>-<option> <value>
# as in
#   --orca-machine foo
while [ $# -gt 1 ]; do
	case "$1" in
	--orca-url)
		PLATFORM_EXTRA_ARGS="$PLATFORM_EXTRA_ARGS;url;$2"
		;;
	--orca-machine)
		PLATFORM_EXTRA_ARGS="$PLATFORM_EXTRA_ARGS;machine;$2"
		;;
	esac
	shift 2
done