msg=""
if [ -x "$(command -v nvidia-smi)" ]; then
	# Make sure nvidia-smi works.
	nvidia-smi -L | grep 'Failed\|Error\|error\|failed' >/dev/null 2>&1
	if [ $? != 0 ]; then
		ngpus=$(nvidia-smi -L | wc -l)
		if [ -f "${install_dir}/lib/libnvqir-custatevec.so" ] && [ $((ngpus > 0)) != 0 ]; then
			NVQIR_SIMULATION_BACKEND="custatevec-f32"
		else
		    msg="libnvqir-custatevec is not installed, or there are no NVIDIA GPUs."
		fi
	else
	  msg="nvidia-smi failed with \"$(nvidia-smi -L)\""
	fi
else 
    msg="nvidia-smi command not found."
fi

if [ "${NVQIR_SIMULATION_BACKEND}" = "qpp" ]; then 
    msg=$(printf "%s\n" "" \ 
    "QPU target cuQuantum specified but could not find a valid CUDA or libcustatevec.so installation." \
    "$msg")
    error_exit "$msg"
fi

LIBRARY_MODE=true