msg=""
if [ -x "$(command -v nvidia-smi)" ]; then
	# Make sure nvidia-smi works.
	nvidia-smi -L | grep 'Failed\|Error\|error\|failed' >/dev/null 2>&1
	if [ $? != 0 ]; then
		ngpus=$(nvidia-smi -L | wc -l)
		if [ -f "${install_dir}/lib/libnvqir-custatevec-fp64.so" ] && [ $((ngpus > 0)) != 0 ]; then
			NVQIR_SIMULATION_BACKEND="custatevec-fp64"
		else
		    msg="libnvqir-custatevec-fp64 is not installed, or there are no NVIDIA GPUs."
		fi
	else
	  msg="nvidia-smi failed with \"$(nvidia-smi -L)\""
	fi
else 
    msg="nvidia-smi command not found."
fi

if [ "${NVQIR_SIMULATION_BACKEND}" = "qpp" ]; then 
    msg=$(printf "%s\n" "" \ 
    "Could not find a valid CUDA or libnvqir-custatevec-fp64 installation. Make sure you have a compatible GPU and the necessary driver installed." \
    "$msg")
    error_exit "$msg"
fi

GPU_REQUIREMENTS="true" # This could be a string listing compatibility in the future

TARGET_DESCRIPTION="The NVIDIA FP64 Target provides a simulated QPU via single-GPU cuStateVec integration on FP64 types."