# ============================================================================ #
# Copyright (c) 2022 - 2023 NVIDIA Corporation & Affiliates.                   #
# All rights reserved.                                                         #
#                                                                              #
# This source code and the accompanying materials are made available under     #
# the terms of the Apache License 2.0 which accompanies this distribution.     #
# ============================================================================ #

# Tell DefaultQuantumPlatform what QPU subtype to use
PLATFORM_QPU=remote_rest

# Tell NVQ++ to generate glue code to set the target backend name
GEN_TARGET_BACKEND=true

# Add the rest-qpu library to the link list
LINKLIBS="${LINKLIBS} -lcudaq-rest-qpu"

# Define the lowering pipeline
PLATFORM_LOWERING_CONFIG="expand-measurements,unrolling-pipeline,func.func(lower-to-cfg),canonicalize,func.func(quake-multicontrol-decomposition),ionq-gate-set-mapping"

# Tell the rest-qpu that we are generating QIR.
CODEGEN_EMISSION=qir

# Additional passes to run after lowering to QIR
# This is required due to https://github.com/NVIDIA/cuda-quantum/issues/512
POST_CODEGEN_PASSES="remove-measurements"

# Library mode is only for simulators, 
# and it is the default, physical backends must 
# turn this off
LIBRARY_MODE=false
# Variables for validation
# Default ionq-machine target if not specified.
IONQ_MACHINE="simulator"
IONQ_NOISE_MODEL=""

PLATFORM_EXTRA_ARGS=""
# NB: extra arguments always take the form:
#   --<target>-<option> <value>
# as in
#   --ionq-machine foo
while [ $# -gt 1 ]; do
	case "$1" in
	--ionq-machine)
		PLATFORM_EXTRA_ARGS="$PLATFORM_EXTRA_ARGS;qpu;$2"
		IONQ_MACHINE="$2"
		;;
	--ionq-noise-model)
		PLATFORM_EXTRA_ARGS="$PLATFORM_EXTRA_ARGS;noise;$2"
		IONQ_NOISE_MODEL="$2"
		;;
	esac
	shift 2
done

# Validate the settings
MAGENTA=$(tput setaf 5)
BOLD=$(tput bold)
NORMAL=$(tput sgr0)
if [ ! -z "$IONQ_NOISE_MODEL" ] && [ "$IONQ_MACHINE" != "simulator"  ]
then
	echo "${MAGENTA}${BOLD}warning:${NORMAL} IonQ noise model setting (--ionq-noise-model) is only valid for the 'simulator' ionq-machine target. This noise model setting will be ignored."
fi
