# ============================================================================ #
# Copyright (c) 2022 - 2026 NVIDIA Corporation & Affiliates.                   #
# All rights reserved.                                                         #
#                                                                              #
# This source code and the accompanying materials are made available under     #
# the terms of the Apache License 2.0 which accompanies this distribution.     #
# ============================================================================ #

# Validate the custom simulator target config generation

# RUN: cudaq-target-conf --skip-gpu-check -o %t %cudaq_target_dir/MyCustomSimulator.yml && cat %t | FileCheck %s

# CHECK: NVQIR_SIMULATION_BACKEND="MyCustomSimulator"
