include CMakeLists.txt
include cudaq/__init__.py
include setup.py
include src/CMakeLists.txt
include src/_cudaq.cpp
include src/runtime/common/py_NoiseModel.cpp
include src/runtime/common/py_NoiseModel.h
include src/runtime/common/py_ObserveResult.cpp
include src/runtime/common/py_ObserveResult.h
include src/runtime/common/py_SampleResult.cpp
include src/runtime/common/py_SampleResult.h
include src/runtime/cudaq/algorithms/observe.py
include src/runtime/cudaq/algorithms/py_observe.cpp
include src/runtime/cudaq/algorithms/py_observe.h
include src/runtime/cudaq/algorithms/py_optimizer.cpp
include src/runtime/cudaq/algorithms/py_optimizer.h
include src/runtime/cudaq/algorithms/py_sample.cpp
include src/runtime/cudaq/algorithms/py_sample.h
include src/runtime/cudaq/algorithms/py_state.cpp
include src/runtime/cudaq/algorithms/py_state.h
include src/runtime/cudaq/algorithms/py_vqe.cpp
include src/runtime/cudaq/algorithms/py_vqe.h
include src/runtime/cudaq/builder/py_QuakeValue.cpp
include src/runtime/cudaq/builder/py_QuakeValue.h
include src/runtime/cudaq/builder/py_kernel_builder.cpp
include src/runtime/cudaq/builder/py_kernel_builder.h
include src/runtime/cudaq/spin/py_matrix.cpp
include src/runtime/cudaq/spin/py_matrix.h
include src/runtime/cudaq/spin/py_spin_op.cpp
include src/runtime/cudaq/spin/py_spin_op.h
include temp_remove_pyproject.toml
include tests/CMakeLists.txt
include tests/backends/CMakeLists.txt
include tests/backends/test_Quantinuum.py
include tests/backends/test_QuantumMachines.py
include tests/compiler/1q.py
include tests/compiler/CMakeLists.txt
include tests/compiler/adjoint.py
include tests/compiler/call.py
include tests/compiler/conditional.py
include tests/compiler/control.py
include tests/compiler/float.py
include tests/compiler/list.py
include tests/compiler/lit.cfg.py
include tests/compiler/lit.site.cfg.py.in
include tests/compiler/measure.py
include tests/compiler/mixed_args.py
include tests/compiler/multi_qubit.py
include tests/compiler/multiple_floats.py
include tests/compiler/no_input.py
include tests/compiler/qalloc.py
include tests/compiler/qreg_apply.py
include tests/unittests/CMakeLists.txt
include tests/unittests/test_NoiseModel.py
include tests/unittests/test_SpinOperator.py
include tests/unittests/test_bug64_quakevalue_lifetime.py
include tests/unittests/test_mqpu.py
include tests/unittests/test_observe.py
include tests/unittests/test_optimizer.py
include tests/unittests/test_quake_value.py
include tests/unittests/test_sample.py
include tests/unittests/test_state.py
include tests/unittests/test_vqe.py
include tests/utils/quake_filecheck_gen.py
include utils/LinkedLibraryHolder.cpp
include utils/LinkedLibraryHolder.h
include utils/OpaqueArguments.h
exclude MANIFEST.in