# ============================================================================ #
# Copyright (c) 2022 - 2024 NVIDIA Corporation & Affiliates.                   #
# All rights reserved.                                                         #
#                                                                              #
# This source code and the accompanying materials are made available under     #
# the terms of the Apache License 2.0 which accompanies this distribution.     #
# ============================================================================ #

msg=""

PREPROCESSOR_DEFINES="${PREPROCESSOR_DEFINES} -D CUDAQ_SIMULATION_SCALAR_FP32"
gpu_found=$(query_gpu)
if ${gpu_found} && [ -f "${install_dir}/lib/libnvqir-custatevec-fp32.so" ]; then
	NVQIR_SIMULATION_BACKEND="custatevec-fp32"
else
	msg="libnvqir-custatevec-fp32 is not installed, or there are no NVIDIA GPUs."
fi

if [ "${NVQIR_SIMULATION_BACKEND}" = "qpp" ]; then 
    msg=$(printf "%s\n" "" \ 
    "Could not find a valid CUDA or libnvqir-custatevec-fp32 installation. Make sure you have a compatible GPU and the necessary driver installed." \
    "$msg")
    error_exit "$msg"
fi

GPU_REQUIREMENTS="true" # This could be a string listing compatibility in the future

TARGET_DESCRIPTION="The NVIDIA Target provides a simulated QPU via single-GPU cuStateVec integration on FP32 types."
