on:
  workflow_call:
    inputs:
      devdeps_cache:
        required: true
        type: string

name: CUDA Quantum Packages

jobs:
  release_build:
    name: Release build
    runs-on: ubuntu-latest
    permissions:
      contents: read

    outputs:
      cudaqdev_cache: ${{ steps.cudaq_build.outputs.cudaqdev_cache }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Restore environment
        uses: actions/cache/restore@v3
        with:
          path: /tmp/devdeps.tar
          key: ${{ inputs.devdeps_cache }}
          fail-on-cache-miss: true

      - name: Build CUDA Quantum
        id: cudaq_build
        run: |
          loaded=`docker load --input /tmp/devdeps.tar | grep -o 'Loaded image: \S*:\S*' | cut -d ' ' -f 3`
          devdeps_image=`echo $loaded | cut -d ":" -f 1`
          devdeps_tag=`echo $loaded | cut -d ":" -f 2`

          docker build -t cuda-quantum-dev:local -f docker/build/cudaqdev.Dockerfile . \
            --build-arg build_environment=$devdeps_image --build-arg env_tag=$devdeps_tag \
            --build-arg install="CMAKE_BUILD_TYPE=Release" \

          docker save cuda-quantum-dev:local > /tmp/cudaqdev.tar
          tag_prefix=`echo $devdeps_tag | cut -d "_" -f 1`
          cudaqdev_cache=tar-cudaqdev-${tag_prefix}-${{ github.sha }}
          echo "cudaqdev_cache=$cudaqdev_cache" >> $GITHUB_OUTPUT

      - name: Cache cuda-quantum-dev image
        uses: actions/cache/save@v3
        with:
          path: /tmp/cudaqdev.tar
          key: ${{ steps.cudaq_build.outputs.cudaqdev_cache }}

  docker_image:
    name: Docker image
    runs-on: ubuntu-latest
    needs: release_build
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Restore release build
        uses: actions/cache/restore@v3
        with:
          path: /tmp/cudaqdev.tar
          key: ${{ needs.release_build.outputs.cudaqdev_cache }}
          fail-on-cache-miss: true

      - name: Build cuda-quantum image
        run: |
          docker load --input /tmp/cudaqdev.tar
          docker build -t ghcr.io/nvidia/cuda-quantum:latest -f docker/release/cudaq.Dockerfile . \
            --build-arg dev_image=cuda-quantum-dev --build-arg dev_tag=local

      - name: Validate cuda-quantum image
        run: |
          docker run --rm -dit --name cuda-quantum ghcr.io/nvidia/cuda-quantum:latest
          docker cp scripts/validate_container.sh cuda-quantum:"/home/cudaq/validate_container.sh"
          docker exec -e TERM=xterm cuda-quantum bash validate_container.sh > /tmp/validation.out
          docker stop cuda-quantum

      - name: Create job summary
        run: |
          echo "## Validation" >> $GITHUB_STEP_SUMMARY
          echo "The validation for the image ghcr.io/nvidia/cuda-quantum:latest produced the following output:" >> $GITHUB_STEP_SUMMARY
          echo '```text' >> $GITHUB_STEP_SUMMARY
          cat /tmp/validation.out >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY

  documentation:
    name: Documentation
    runs-on: ubuntu-latest
    needs: release_build
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Restore release build
        uses: actions/cache/restore@v3
        with:
          path: /tmp/cudaqdev.tar
          key: ${{ needs.release_build.outputs.cudaqdev_cache }}
          fail-on-cache-miss: true

      - name: Build documentation
        run: |
          docker load --input /tmp/cudaqdev.tar
          docker run --rm -dit --name cuda-quantum-dev cuda-quantum-dev:local
          (docker exec cuda-quantum-dev bash scripts/build_docs.sh && built=true) || built=false
          if $built; then docker cp cuda-quantum-dev:"/usr/local/cudaq/docs/." /tmp/docs; \
          else docker cp cuda-quantum-dev:"/workspaces/cuda-quantum/build/." /tmp/build; fi
          docker stop cuda-quantum-dev
          if $built; then `exit 0`; else `exit 1`; fi

      - name: Upload build artifacts
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: /tmp/build
          retention-days: 1

      - name: Upload documentation
        if: success()
        uses: actions/upload-artifact@v3
        with:
          name: cuda_quantum_docs
          path: /tmp/docs
          retention-days: 30
          if-no-files-found: error
