on:
  workflow_dispatch:
    inputs:
      export_environment:
        type: boolean
        description: Export the build environment as tar artifact that can be imported with Docker.
  pull_request:
    branches:
      - 'main'
      - 'releases/*'

name: CI

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  setup:
    name: Load dependencies
    strategy:
      matrix:
        toolchain: [clang16, clang15, gcc12, gcc11]
    uses: ./.github/workflows/dev_environment.yml
    with:
      dockerfile: build/devdeps.Dockerfile
      toolchain: ${{ matrix.toolchain }}

  build_and_test:
    name: Build and test
    needs: setup
    strategy:
      matrix:
        toolchain: [clang16, clang15, gcc12, gcc11]
    uses: ./.github/workflows/test_in_devenv.yml
    with:
      devdeps_cache: tar-devdeps-${{ matrix.toolchain }}-${{ github.sha }}
      export_environment: ${{ github.event_name == 'workflow_dispatch' && inputs.export_environment }}

  docker_image:
    name: Create Packages
    needs: setup
    uses: ./.github/workflows/build_packages.yml
    with:
      devdeps_cache: tar-devdeps-gcc11-${{ github.sha }}