on:
  workflow_dispatch:
    inputs:
      export_environment:
        type: boolean
        description: Export the build environment as tar artifact that can be imported with Docker.
  pull_request:
    branches:
      - 'main'
      - 'releases/*'

name: CI # do not change name without updating workflow_run triggers

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  setup:
    name: Load dependencies
    strategy:
      matrix:
        toolchain: [clang16, gcc12]
      fail-fast: false
    uses: ./.github/workflows/dev_environment.yml
    with:
      dockerfile: build/devdeps.Dockerfile
      toolchain: ${{ matrix.toolchain }}
      # needed only for the cloudposse GitHub action
      matrix_key: ${{ matrix.toolchain }}

  # split out to make the llvm build optional for now
  setup_llvm:
    name: Load dependencies (llvm)
    uses: ./.github/workflows/dev_environment.yml
    with:
      dockerfile: build/devdeps.Dockerfile
      toolchain: llvm

  # This job is needed only when using the cloudposse GitHub action to read
  # the output of a matrix job. This is a workaround due to current GitHub
  # limitations that may not be needed if the work started here concludes:
  # https://github.com/actions/runner/pull/2477
  config:
    name: Configure build
    runs-on: ubuntu-latest
    needs: setup

    outputs:
      json: "${{ steps.read_json.outputs.result }}"

    steps:
      - uses: cloudposse/github-action-matrix-outputs-read@0.1.1
        id: read_json
        with:
          matrix-step-name: dev_environment

  build_and_test:
    name: Build and test
    needs: config
    strategy:
      matrix:
        toolchain: [clang16, gcc12]
      fail-fast: false
    uses: ./.github/workflows/test_in_devenv.yml
    with:
      devdeps_cache: ${{ fromJson(needs.config.outputs.json).cache_key[format('{0}', matrix.toolchain)] }}
      devdeps_archive: ${{ fromJson(needs.config.outputs.json).tar_archive[format('{0}', matrix.toolchain)] }}
      export_environment: ${{ github.event_name == 'workflow_dispatch' && inputs.export_environment }}

  build_and_test_llvm:
    name: Build and test (llvm)
    needs: setup_llvm
    uses: ./.github/workflows/test_in_devenv.yml
    with:
      devdeps_cache: ${{ needs.setup_llvm.outputs.cache_key }}
      devdeps_archive: ${{ needs.setup_llvm.outputs.tar_archive }}
      export_environment: ${{ github.event_name == 'workflow_dispatch' && inputs.export_environment }}

  docker_image:
    name: Create Packages
    needs: config
    uses: ./.github/workflows/build_packages.yml
    with:
      devdeps_cache: ${{ fromJson(needs.config.outputs.json).cache_key.gcc12 }}
      devdeps_archive: ${{ fromJson(needs.config.outputs.json).tar_archive.gcc12 }}

  clean_up:
    name: Delete tar caches
    runs-on: ubuntu-latest
    needs: [config, setup_llvm, build_and_test, build_and_test_llvm, docker_image]
    if: always() # need to clean up even if the workflow is cancelled or fails

    steps:
      - name: Save cache keys
        id: workflow_inputs
        run: |
          set -e
          key_matrix='${{ needs.config.outputs.json }}'
          keys=`echo $key_matrix | jq '.cache_key | to_entries | .[].value' --raw-output`
          keys+=" ${{ needs.setup_llvm.outputs.cache_key }}"
          echo "$keys" >> cache_keys.txt

      - uses: actions/upload-artifact@v3
        with:
          name: cache_keys/ci
          path: cache_keys.txt
          retention-days: 1
          if-no-files-found: error
