on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
      - 'releases/*'

name: Push dev images and update caches

concurrency:
  group: ${{ github.workflow }}-${{ github.event.ref_name }}
  cancel-in-progress: false

jobs:
  devdeps:
    strategy:
      matrix:
        toolchain: [clang16, clang15, gcc12, gcc11]
    uses: ./.github/workflows/dev_environment.yml
    with:
      dockerfile: build/devdeps.Dockerfile
      toolchain: ${{ matrix.toolchain }}
      environment: ghcr-deployment
