on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
      - 'releases/*'

name: Push dev images and update caches

concurrency:
  group: ${{ github.workflow }}-${{ github.event.ref_name }}
  cancel-in-progress: false

jobs:
  doxygen:
    uses: ./.github/workflows/dev_environment.yml
    with:
      dockerfile: build/devdeps.Dockerfile
      build_target: doxygenbuild
      build_cache_only: true
      environment: ghcr-deployment

  devdeps:
    needs: doxygen
    strategy:
      matrix:
        toolchain: [clang16, gcc12]
      fail-fast: false
    uses: ./.github/workflows/dev_environment.yml
    with:
      dockerfile: build/devdeps.Dockerfile
      additional_build_caches: |
        ${{ needs.doxygen.outputs.build_cache }}
      toolchain: ${{ matrix.toolchain }}
      matrix_key: ${{ matrix.toolchain }}
      environment: ghcr-deployment

  # split out so that it is not required to finish to proceed with other jobs
  devdeps_llvm:
    needs: doxygen
    uses: ./.github/workflows/dev_environment.yml
    with:
      dockerfile: build/devdeps.Dockerfile
      additional_build_caches: |
        ${{ needs.doxygen.outputs.build_cache }}
      toolchain: llvm
      environment: ghcr-deployment

  # This job is needed only when using the cloudposse GitHub action to read
  # the output of a matrix job. This is a workaround due to current GitHub
  # limitations that may not be needed if the work started here concludes:
  # https://github.com/actions/runner/pull/2477
  config:
    name: Configure build
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch'
    needs: devdeps

    outputs:
      json: "${{ steps.read_json.outputs.result }}"

    steps:
      - uses: cloudposse/github-action-matrix-outputs-read@0.1.1
        id: read_json
        with:
          matrix-step-name: dev_environment

  extdevdeps:
    uses: ./.github/workflows/dev_environment.yml
    if: github.event_name == 'workflow_dispatch'
    needs: config
    with:
      dockerfile: build/devdeps.ext.Dockerfile
      toolchain: gcc12
      base_image: ${{ fromJson(needs.config.outputs.json).image_name.gcc12 }}@${{ fromJson(needs.config.outputs.json).digest.gcc12 }}
      environment: ghcr-deployment

  docker_image:
    name: Create Packages
    needs: extdevdeps
    uses: ./.github/workflows/build_packages.yml
    with:
      devdeps_cache: ${{ needs.extdevdeps.outputs.cache_key }}
      devdeps_archive: ${{ needs.extdevdeps.outputs.tar_archive }}
      environment: ghcr-deployment
