on:
  workflow_call:
    inputs:
      dockerfile:
        required: true
        type: string
      build_target:
        required: false
        type: string
      additional_build_caches:
        required: false
        type: string
      additional_local_caches:
        required: false
        type: string
      create_local_cache:
        required: false
        type: boolean
        default: false
      build_cache_only:
        required: false
        type: boolean
        default: false
      base_image:
        required: false
        type: string
      toolchain:
        required: false
        type: string
      matrix_key:
        required: false
        type: string
      environment:
        required: false
        type: string
      github_ref:
        required: false
        type: string
    outputs:
      image_name:
        description: "The full name of the built docker image."
        value: ${{ jobs.finalize.outputs.image_name }}
      digest:
        description: "The digest of the docker image, if it was deployed to the registry."
        value: ${{ jobs.finalize.outputs.digest }}
      cache_key:
        description: "The cache key to retrieve a tar archive containing the built image(s)."
        value: ${{ jobs.finalize.outputs.cache_key }}
      tar_archive:
        description: "The location of the tar archive in the cache."
        value: ${{ jobs.finalize.outputs.tar_archive }}
      build_cache:
        description: "The location from which the build cache can be loaded in subsequent builds."
        value: ${{ jobs.finalize.outputs.build_cache }}

name: CUDA Quantum cached dev images

jobs:
  metadata:
    name: Metadata
    runs-on: ubuntu-latest
    permissions:
      contents: read

    outputs:
      dockerfile: ${{ steps.build_info.outputs.dockerfile }}
      owner: ${{ steps.build_info.outputs.owner }}
      image_name: ${{ steps.build_info.outputs.image_name }}
      image_title: ${{ steps.build_info.outputs.image_title }}
      image_id: ${{ steps.build_info.outputs.image_id }}
      image_tags: ${{ steps.metadata.outputs.tags }}
      image_labels: ${{ steps.metadata.outputs.labels }}
      llvm_commit: ${{ steps.build_info.outputs.llvm_commit }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.github_ref || '' }}

      - name: Determine build arguments
        id: build_info
        run: |
          repo_owner=${{ github.repository_owner }}
          build_target=${{ inputs.build_target }}
          image_id=`basename ${{ inputs.dockerfile }} .Dockerfile`${build_target:+.$build_target}
          image_title=cuda-quantum-`echo $image_id | cut -d "." -f 1`
          image_name=${{ vars.registry || 'ghcr.io' }}/${repo_owner,,}/$image_title
          toolchain=${{ inputs.toolchain }}
          tag_prefix=${toolchain:+$toolchain-}
          tag_suffix=`echo $image_id | cut -s -d "." -f 2- | xargs -I "%" echo .% | tr . -`

          echo "image_name=$image_name" >> $GITHUB_OUTPUT
          echo "image_title=$image_title" >> $GITHUB_OUTPUT
          echo "image_id=$image_id" >> $GITHUB_OUTPUT
          echo "tag_prefix=$tag_prefix" >> $GITHUB_OUTPUT
          echo "tag_suffix=$tag_suffix" >> $GITHUB_OUTPUT
          echo "dockerfile=${{ inputs.dockerfile }}" >> $GITHUB_OUTPUT
          echo "owner=${repo_owner,,}" >> $GITHUB_OUTPUT
          echo "llvm_commit=$(git rev-parse @:./tpls/llvm)" >> $GITHUB_OUTPUT

      - name: Extract metadata for Docker image
        id: metadata
        uses: docker/metadata-action@v4
        with:
          images: ${{ steps.build_info.outputs.image_name }}
          flavor: |
            latest=false
            prefix=${{ steps.build_info.outputs.tag_prefix }},onlatest=true
            suffix=${{ steps.build_info.outputs.tag_suffix }},onlatest=true
          tags: |
            # workflow dispatch is covered by these
            type=schedule,enable=true,pattern=nightly
            type=ref,enable=true,event=branch
            type=ref,enable=true,prefix=${{ steps.build_info.outputs.tag_prefix }}pr-,event=pr
            type=ref,enable=true,event=tag
          labels: |
            org.opencontainers.image.title=${{ steps.build_info.outputs.image_title }}
            org.opencontainers.image.description=Dev tools for building and testing CUDA Quantum

  build:
    name: Caching
    runs-on: ubuntu-latest
    needs: metadata
    timeout-minutes: 600
    permissions:
      contents: read
      packages: write

    outputs:
      tar_cache: ${{ steps.cache.outputs.tar_cache }}
      tar_archive: ${{ steps.cache.outputs.tar_archive }}
      build_cache: ${{ steps.cache.outputs.build_cache }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.github_ref || '' }}

      - name: Set up buildx runner
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub CR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Create cache locations
        id: cache
        run: |
          toolchain=${{ inputs.toolchain }}
          cache_id=$(echo ${{ needs.metadata.outputs.image_id }} | tr . -)${toolchain:+-$toolchain}
          cache_target=${{ inputs.github_ref || github.ref_name }}
          cache_base=${{ github.event.pull_request.base.ref || 'main' }}
          registry_cache=ghcr.io/${{ needs.metadata.outputs.owner }}/buildcache-cuda-quantum
          nvidia_registry_cache=ghcr.io/nvidia/buildcache-cuda-quantum

          local_buildcache_path="/tmp/.buildcache-${cache_id}"
          local_buildcache_key="${cache_target}-cuda-quantum-${cache_id}"
          cache_from_gh="type=local,src=${local_buildcache_path}"
          cache_from_registry="type=registry,ref=${registry_cache}-${cache_id}:${cache_base}"
          cache_from_nvidia_registry="type=registry,ref=${nvidia_registry_cache}-${cache_id}:${cache_base}"
          if ${{ inputs.environment == 'ghcr-deployment' }}; then
            build_cache="type=registry,ref=${registry_cache}-${cache_id}:${cache_target}"
            cache_to="${build_cache},mode=max,ignore-error=false"
          elif ${{ inputs.create_local_cache }}; then
            # In general, using the build cache from the registry/parent branch is the quickest.
            # We hence create a build cache only upon request.
            cache_to="type=local,dest=${local_buildcache_path}-new,mode=max,ignore-error=true"
            build_cache="$local_buildcache_key"
          fi

          cache_from_registry=""
          cache_from_nvidia_registry=""

          echo "local_buildcache_key=$local_buildcache_key" >> $GITHUB_OUTPUT
          echo "local_buildcache_path=$local_buildcache_path" >> $GITHUB_OUTPUT
          echo "cache_from_gh=$cache_from_gh" >> $GITHUB_OUTPUT
          echo "cache_from_registry=$cache_from_registry" >> $GITHUB_OUTPUT
          echo "cache_from_nvidia_registry=$cache_from_nvidia_registry" >> $GITHUB_OUTPUT
          echo "cache_to=$cache_to" >> $GITHUB_OUTPUT
          echo "build_cache=$build_cache" >> $GITHUB_OUTPUT
          if ${{ ! inputs.build_cache_only }}; then
            echo "tar_cache=tar-${cache_id}-${{ github.sha }}" >> $GITHUB_OUTPUT
            echo "tar_archive=/tmp/${{ needs.metadata.outputs.image_id }}.tar" >> $GITHUB_OUTPUT
          fi

      - name: Check out local cache
        uses: actions/cache/restore@v3
        with:
          path: ${{ steps.cache.outputs.local_buildcache_path }}
          key: ${{ steps.cache.outputs.local_buildcache_key }}-${{ github.sha }}
          restore-keys: |
            ${{ inputs.additional_local_caches }}
            ${{ steps.cache.outputs.local_buildcache_key }}

      - name: Build ${{ needs.metadata.outputs.image_title }} image
        id: build_image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/${{ needs.metadata.outputs.dockerfile }}
          target: ${{ inputs.build_target }}
          build-args: |
            base_image=${{ inputs.base_image }}
            toolchain=${{ inputs.toolchain }}
            llvm_commit=${{ needs.metadata.outputs.llvm_commit }}
          load: false
          tags: ${{ needs.metadata.outputs.image_tags }}
          labels: ${{ needs.metadata.outputs.image_labels }}
          platforms: linux/amd64
          cache-from: |
            ${{ inputs.additional_build_caches }}
            ${{ steps.cache.outputs.cache_from_gh }}
            ${{ steps.cache.outputs.cache_from_registry }}
            ${{ steps.cache.outputs.cache_from_nvidia_registry }}
          cache-to: ${{ steps.cache.outputs.cache_to }}
          outputs: type=docker,dest=${{ steps.cache.outputs.tar_archive }}

      # See also https://github.com/moby/buildkit/issues/1896
      - name: Clean up local cache
        run: |
          rm -rf "${{ steps.cache.outputs.local_buildcache_path }}"
          build_cache="${{ steps.cache.outputs.local_buildcache_path }}-new"
          if [ -d "$build_cache" ]; then
            mv "$build_cache" "${{ steps.cache.outputs.local_buildcache_path }}"
          fi

      - name: Upload build cache
        if: inputs.create_local_cache
        uses: actions/cache/save@v3
        with:
          path: ${{ steps.cache.outputs.local_buildcache_path }}
          key: ${{ steps.cache.outputs.local_buildcache_key }}-${{ github.sha }}

      - name: Cache ${{ needs.metadata.outputs.image_title }} image
        uses: actions/cache/save@v3
        if: ${{ ! inputs.build_cache_only }}
        with:
          path: ${{ steps.cache.outputs.tar_archive }}
          key: ${{ steps.cache.outputs.tar_cache }}

  deployment:
    name: Deployment
    if: ${{ inputs.environment && ! inputs.build_cache_only }}
    needs: build
    uses: ./.github/workflows/deploy_to_registry.yml
    with:
      environment: ${{ inputs.environment }}
      cache_key: ${{ needs.build.outputs.tar_cache }}
      tar_archive: ${{ needs.build.outputs.tar_archive }}

  finalize:
    name: Finalize
    runs-on: ubuntu-latest
    if: always() && !cancelled()
    needs: [metadata, build, deployment]

    outputs:
      image_name: ${{ fromJson(steps.write_json.outputs.result).image_name }}
      digest: ${{ fromJson(steps.write_json.outputs.result).digest }}
      cache_key: ${{ fromJson(steps.write_json.outputs.result).cache_key }}
      build_cache: ${{ fromJson(steps.write_json.outputs.result).build_cache }}

    steps:        
      - uses: cloudposse/github-action-matrix-outputs-write@0.3.0
        id: write_json
        with:
          matrix-step-name: ${{ inputs.matrix_key && 'dev_environment' }}
          matrix-key: ${{ inputs.matrix_key }}
          outputs: |
            image_name: ${{ needs.metadata.outputs.image_name }}
            digest: ${{ needs.deployment.outputs.digest }}
            cache_key: ${{ needs.build.outputs.tar_cache }}
            tar_archive: ${{ needs.build.outputs.tar_archive }}
            build_cache: ${{ needs.build.outputs.build_cache }}
