on:
  workflow_dispatch:
  pull_request:
    branches:
    - main

name: "Check spelling, linting and links"

jobs:
  check-markdown:
    runs-on: ubuntu-latest
    name: "Check spelling, linting and links"
    steps:
    - uses: actions/checkout@v3
    - name: markdownlint-cli
      # cspell:words nosborn
      uses: nosborn/github-action-markdown-cli@v3.2.0
      with:
        files: .
        config_file: '.github/workflows/config/md_lint_config.yml'
    - name: Markdown link check
      # cspell:words gaurav
      uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        use-verbose-mode: "yes"
        config_file: ".github/workflows/config/mlc_config.json"        
      if: ${{ success() || failure() }}
    - name: "Check spelling in changed files"
      # cspell:words streetsidesoftware
      uses: streetsidesoftware/cspell-action@v1.2.4
      with:
        inline: warning
        # Only warn on spelling errors, since there's likely a lot of false
        # positives with terminology in quantum computing.
        strict: false
        incremental_files_only: true
        config: '.github/workflows/config/spelling_allowlist.json'