on:
  workflow_dispatch:
    inputs:
      cache_base:
        required: false
        type: string
        description: 'The name of the branch to use as cache base.'
        default: main
  push:
    branches:
      - "pull-request/[0-9]+"
      - "features/cudaq.realtime" # TEMP: enable CI for realtime branch for direct pushes as well
    paths:
      - realtime/** # Only trigger on changes to the realtime directory
      - .github/** # Also trigger on changes to GitHub workflows
  merge_group:
    types: 
      - checks_requested
    
name: Realtime CI 

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build_and_test:
    name: Build and test
    strategy:
      matrix:
        platform: [amd64, arm64]
        cuda_version: ['12.6', '13.0']
      fail-fast: false
    runs-on: ${{ (contains(matrix.platform, 'arm') && 'linux-arm64-cpu8') || 'linux-amd64-cpu8' }}
    permissions:
      contents: read
      packages: read

    steps:
      
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub CR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build CUDA Quantum Realtime
        uses: ./.github/actions/run-in-docker
        with:
          image: ghcr.io/nvidia/cuda-quantum-devdeps:ext-${{ matrix.platform }}-cu${{ matrix.cuda_version }}-gcc11-main
          volume: ${{ github.workspace }}:/workspace
          shell: bash
          run: |
            cd /workspace
            ls -la
            apt install libibverbs-dev
            cd realtime
            mkdir -p build && cd build
            cmake -DCMAKE_BUILD_TYPE=Release .. -DNVQLINK_BUILD_TESTS=ON
            make -j$(nproc)
            ctest --output-on-failure 
