on:
  workflow_dispatch:
  pull_request:

name: "Basic content checks"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  links:
    runs-on: ubuntu-latest
    name: "Check links"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Markdown files
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-verbose-mode: "yes"
          config-file: ".github/workflows/config/md_link_check_config.json"        

  license_headers:
    name: Check license headers
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: apache/skywalking-eyes/header@v0.4.0
        with:
          config: .licenserc.yaml
          token: '' # with the appropriate permission license eye can add comments on the PR

  filters:
    name: Filter files to check
    runs-on: ubuntu-latest

    outputs:
      json: ${{ steps.files.outputs.json }}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: ${{ (github.event_name == 'pull_request' && '0') || '1' }}

      - id: files
        run: |
          if ${{ github.event_name == 'pull_request' }}; then
            diff_base=${{ github.event.pull_request.base.sha }}
            git rev-list HEAD..$diff_base # fails the step if something went wrong
            list_files="git diff --diff-filter=d --name-only $diff_base --"

            echo "## Changed Files" >> $GITHUB_STEP_SUMMARY
            echo "The following files contain changes:" >> $GITHUB_STEP_SUMMARY
            for file in `$list_files`; do 
              echo "$file" >> $GITHUB_STEP_SUMMARY
            done
          else
            list_files="git ls-files"
          fi

          json="{\"files\":{}, \"patterns\":{}}"
          function create_output {
            json=`echo $json | jq ".patterns |= . + {"$1":[]}"`
            for pattern in $2; do
              pattern=\'$pattern\'
              json=`echo $json | jq ".patterns.$1 |= . + [\"$pattern\"]"`
            done

            json=`echo $json | jq ".files |= . + {"$1":[]}"`
            for file in `echo $2 | xargs $list_files`; do
              file=\'$file\'
              json=`echo $json | jq ".files.$1 |= . + [\"$file\"]"`
            done
          }

          create_output cxx '*.cpp *.h *.hpp :!:test :!:tpls :!:**/nlopt-src/*'
          create_output python '*.py :!:tpls'
          create_output markdown '*.md :!:tpls'
          create_output textlike '*.rst *.txt .github/ISSUE_TEMPLATE/* :!:tpls'
          echo "json=$(echo $json)" >> $GITHUB_OUTPUT

  formatting:
    name: Check code formatting
    runs-on: ubuntu-latest
    needs: filters

    steps:
      - uses: actions/checkout@v3

      - name: C++
        run: |
          echo "## C++ Formatting" >> $GITHUB_STEP_SUMMARY
          files=(${{ join(fromJSON(needs.filters.outputs.json).files.cxx, ' ') }})

          if [ "${#files[@]}" -gt "0" ]; then
            wget -qO- https://apt.llvm.org/llvm-snapshot.gpg.key | sudo tee /etc/apt/trusted.gpg.d/apt.llvm.org.asc
            sudo add-apt-repository "deb http://apt.llvm.org/jammy/ llvm-toolchain-jammy-16 main"
            sudo apt-get update && sudo apt-get install -y --no-install-recommends clang-format-16

            echo ${files[@]} | xargs clang-format-16 -i
            echo ${{ join(fromJSON(needs.filters.outputs.json).patterns.cxx, ' ') }} \
            | xargs git diff --diff-filter=d -- > /tmp/clang-format.patch
          else
            echo "No files to check." >> $GITHUB_STEP_SUMMARY
            exit 0
          fi

          if [ -s /tmp/clang-format.patch ]; then
            echo "The following formatting changes need to be applied:" >> $GITHUB_STEP_SUMMARY
            echo '```text' >> $GITHUB_STEP_SUMMARY
            cat /tmp/clang-format.patch >> $GITHUB_STEP_SUMMARY
            echo '```' >> $GITHUB_STEP_SUMMARY
            exit 1
          else
            echo "Totally checked ${#files[@]} files. All files are formatted as expected." >> $GITHUB_STEP_SUMMARY
          fi

      - name: Python
        run: |
          echo "## Python Formatting" >> $GITHUB_STEP_SUMMARY
          files=(${{ join(fromJSON(needs.filters.outputs.json).files.python, ' ') }})

          if [ "${#files[@]}" -gt "0" ]; then
            pip install yapf
            echo ${files[@]} | xargs yapf --style google --recursive -i
            echo ${{ join(fromJSON(needs.filters.outputs.json).patterns.python, ' ') }} \
            | xargs git diff --diff-filter=d -- > /tmp/yapf.patch
          else
            echo "No files to check." >> $GITHUB_STEP_SUMMARY
            exit 0
          fi

          if [ -s /tmp/yapf.patch ]; then
            echo "The following formatting changes need to be applied:" >> $GITHUB_STEP_SUMMARY
            echo '```text' >> $GITHUB_STEP_SUMMARY
            cat /tmp/yapf.patch >> $GITHUB_STEP_SUMMARY
            echo '```' >> $GITHUB_STEP_SUMMARY
            exit 1
          else
            echo "Totally checked ${#files[@]} files. All files are formatted as expected." >> $GITHUB_STEP_SUMMARY
          fi

      - name: Markdown
        uses: nosborn/github-action-markdown-cli@v3.2.0
        with:
          files: .
          config_file: '.github/workflows/config/md_lint_config.yml'

  spelling:
    name: Check spelling
    runs-on: ubuntu-latest
    needs: filters

    steps:
      - uses: actions/checkout@v3

      - name: "Markdown files"
        uses: rojopolis/spellcheck-github-actions@0.30.0
        with:
          config_path: '.github/workflows/config/spellcheck_config.yml'
          output_file: markdown_spellcheck.txt
          task_name: markdown
          source_files: ${{ join(fromJSON(needs.filters.outputs.json).files.markdown, ' ') }}

      - name: "Text and rst files"
        uses: rojopolis/spellcheck-github-actions@0.30.0
        with:
          config_path: '.github/workflows/config/spellcheck_config.yml'
          output_file: textlike_spellcheck.txt
          task_name: textlike
          source_files: ${{ join(fromJSON(needs.filters.outputs.json).files.textlike, ' ') }}

      - name: "C++ files"
        uses: rojopolis/spellcheck-github-actions@0.30.0
        with:
          config_path: '.github/workflows/config/spellcheck_config.yml'
          output_file: cxx_spellcheck.txt
          task_name: cxx
          source_files: ${{ join(fromJSON(needs.filters.outputs.json).files.cxx, ' ') }}

      - name: "Python files"
        uses: rojopolis/spellcheck-github-actions@0.30.0
        with:
          config_path: '.github/workflows/config/spellcheck_config.yml'
          output_file: python_spellcheck.txt
          task_name: python
          source_files: ${{ join(fromJSON(needs.filters.outputs.json).files.python, ' ') }}

      - name: Create summary
        run: |
          echo "## Spell Check" >> $GITHUB_STEP_SUMMARY
          echo "Output for markdown files:" >> $GITHUB_STEP_SUMMARY
          echo '```text' >> $GITHUB_STEP_SUMMARY
          cat markdown_spellcheck.txt >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY

          echo "Output for text and reStructuredText files:" >> $GITHUB_STEP_SUMMARY
          echo '```text' >> $GITHUB_STEP_SUMMARY
          cat textlike_spellcheck.txt >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY

          echo "Output for C++ files:" >> $GITHUB_STEP_SUMMARY
          echo '```text' >> $GITHUB_STEP_SUMMARY
          cat cxx_spellcheck.txt >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY

          echo "Output for Python files:" >> $GITHUB_STEP_SUMMARY
          echo '```text' >> $GITHUB_STEP_SUMMARY
          cat python_spellcheck.txt >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY